<!DOCTYPE html>
<html>
    <head>
        <title>Blog - Edit <%= post.title %></title>
        <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='/css/main.css' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Serif+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="navigation">
        <div id="logo"><img src="/img/recipe-box.png" class="img-responsive"/></div>
      </div>
      <div class="container">
        <h1>Edit Post</h1>
        <form action="/posts/<%= post.custom %>" method="POST">
            <p>
            <label>Title</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" required/>
            </p>

            <p>
            <label>Custom URL</label>
            <input type="text" id="custom" name="custom" value="<%= post.custom %>" required/>
            </p>

            <p>
            <label>Author</label>
            <input type="text" id="author" name="author" value="<%= post.author %>" />
            </p>

            <p>
            <label>Category</label>
            <input type="text" id="category" name="category" value="<%= post.category %>" />
            </p>

            <p>
            <label>Content</label>
            <input type="text" id="content" name="content" value="<%= post.content %>" />
            </p>

            <p>
            <label>Thumbnail Image</label>
            <input type="text" id="link" name="link" value="<%= post.link %>" />
            </p>

            <button class="butn">Update</button>
            <span class="butn"><a href="/posts/delete/<%= post.custom %>" class="butntext">Delete</a></span>
        </form>
      </div>
      <footer>
        <div class="container">
          <p class="foot">This was made for a class project. Visit my <a href="https://github.com/katherineboliek/cms-simple">github</a> to learn more.</p>
        </div>
      </footer>
    </body>
</html>
